
@{
    ViewBag.Title = "Manage";
}


@section scripts {

    <script src="~/Scripts/Application/Logic.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
            $(function () {
                initAssetAssignment();
            })


        </script>*@
}

<h2>Manage</h2>


<button id="btnSaunaTila_Click" class="w3-btn w3-large">Sauna ON/OFF</button>
